body{
    font-family: 'Roboto Mono', monospace;
    margin: 0%;
}
h1{
    font-size: 50px;
   
 
} 
.brawon{
    color: brown;
}
section{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 10%;
}
.half-width img{
    width: 80%;
}
.target{
    text-decoration: none;
     background-image: linear-gradient(brown, gray);
     font-weight: 700;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
}
.top-banner{
    background-image: url(top-banner.png);
    background-repeat: no-repeat;
}
.target2{
    text-decoration: none;
    background-image: linear-gradient(black,yellow);
    font-weight: 700;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}
.dream-big{
    background-image: url(dream-bg.png);
    background-repeat: no-repeat;
    background-position: right ;
    
}